<footer th:fragment="footer"
        class="footer bg-blur rounded">

    <div class="container-fluid text-center">
        <div class="footer-text text-white">
            <p>&copy; 2024 Ventsislav Stoyanov. All rights reserved.</p>
        </div>
    </div>

    <script src="js/scroll-items.js"></script>
<!--    <script src="/js/jquery-3.5.1.slim.min.js"></script>-->
<!--    <script src="/js/owl.carousel.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 4,
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true
            });
        });
    </script>
</footer>