<nav>
    <a href="#">
        <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393300/file_ox9ga4.png" alt="Logo">
    </a>
    <div class="menu-button">
        <a href=""><i class="fa-solid fa-bars"></i></a>
    </div>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Adventures</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign Out</a></li>
    </ul>

    <script src="/js/menu.js"></script>
</nav>