@import url(https://fonts.googleapis.com/css?family=Open+Sans);

nav {
    position: fixed;
    margin: 2.5rem 0 0 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem 0 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 1.2rem;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 1.2rem;
    text-decoration: none !important;
    display: block;
    align-items: center;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
    font-weight: bold;
}

nav ul li.logo {
    margin-right: auto;
}

nav a {
    padding: 0;
}

nav img {
    height: 9rem;
    position: fixed;
    top: 0.2rem;
    left: 1rem;
}

.menu-button{
    display: none;
}

@media screen and (max-width: 1000px) {

    .menu{
        display: none;
        z-index: -1;
    }

    .menu-button {
        display: inline-block;
        position: absolute;
        right: 3rem;
        top: 2rem;
        font-size: 4rem;
    }

    .menu-button i {
        color: white;
        font-size: 6rem;
    }

    nav img{
        height: 12rem;
        top: 1.5rem;
        left: 0;
    }

    nav ul{
        display: grid;
        position: absolute;
        width: 100%;
        top: -2.5rem;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
        justify-content: center;
        padding: 2rem 0 0 0;
        text-align: center;
    }

    nav ul li a{
        font-size: 2.5rem;

    }
}