
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://res.cloudinary.com/db1rc9fon/image/upload/v1727384741/confirm-page_xob23p.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #ede8e8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #45a049;
}

input[type="hidden"] {
    display: none;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {

    p{
        font-size: 1.8rem;
    }

    button{
        font-size: 2rem;
    }

    a{
        font-size: 1.4rem;
    }
}
