<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/adventures.css">

</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="slider-area ">
    <div class="slider-active">
        <div class="single-slider hero-overly slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="hero-caption">
                            <h1 class="reveal-text">Find your <span>Next tour!</span></h1>
                            <p>Where would you like to go?</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <form action="#" class="search-box">
                            <div class="input-form mb-30">
                                <input type="text" placeholder="When Would you like to go ?">
                            </div>
                            <div class="select-form mb-30 option">
                                <button id="toggleOptions" class="select-btn" type="button">When</button>
                                <div id="optionsContainer" class="options-container">
                                    <div class="option-column">
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                    </div>
                                    <div class="option-column">
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                    </div>
                                    <div class="option-column">
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                    </div>
                                    <div class="option-column">
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                    </div>
                                    <div class="option-column">
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                    </div>
                                    <div class="option-column">
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                    </div>
                                    <div class="option-column">
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                        <a href="#">Services</a>
                                    </div>
                                </div>
                            </div>
                            <div class="search-form mb-30">
                                <a href="#">Search</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-services servic-padding">
    <div class="container">
        <div class="row d-flex justify-contnet-center">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-icon">
                        <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1726176733/tour-guide_rp5v1u.png"
                             alt="">
                    </div>
                    <div class="services-cap">
                        <h5>8000+ Our Local<br>Guides</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-icon">
                        <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1726177842/booking_rvwjon.png"
                             alt="">
                    </div>
                    <div class="services-cap">
                        <h5>100% Trusted Tour<br>Agency</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-icon">
                        <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1726176733/quality_ektwtw.png"
                             alt="">
                    </div>
                    <div class="services-cap">
                        <h5>28+ Years of Travel<br>Experience</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-icon">
                        <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1726176733/car_d0idg4.png"
                             alt="">
                    </div>
                    <div class="services-cap">
                        <h5>98% Our Travelers<br>are Happy</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="favourite-place place-padding">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span>Choose your adventure</span>
                    <h3 class="mb-4 mt-3">Adventures</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <a href="#">
                            <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>8.0 Cool</span> </span>
                            <h3><a href="#">The Dark Forest Adventure1</a></h3>
                            <p class="dolor">$1870 <span>/ Per Person</span></p>
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>3 Days</li>
                                <li><i class="fas fa-map-marker-alt"></i>Los Angeles</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <a href="#">
                            <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>8.0 Cool</span> </span>
                            <h3><a href="#">The Dark Forest Adventure</a></h3>
                            <p class="dolor">$1870 <span>/ Per Person</span></p>
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>3 Days</li>
                                <li><i class="fas fa-map-marker-alt"></i>Los Angeles</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <a href="#">
                            <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>8.0 Cool</span> </span>
                            <h3><a href="#">The Dark Forest Adventure</a></h3>
                            <p class="dolor">$1870 <span>/ Per Person</span></p>
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>3 Days</li>
                                <li><i class="fas fa-map-marker-alt"></i>Los Angeles</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <a href="#">
                            <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>8.0 Cool</span> </span>
                            <h3><a href="#">The Dark Forest Adventure</a></h3>
                            <p class="dolor">$1870 <span>/ Per Person</span></p>
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>3 Days</li>
                                <li><i class="fas fa-map-marker-alt"></i>Los Angeles</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <a href="#">
                            <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>8.0 Cool</span> </span>
                            <h3><a href="#">The Dark Forest Adventure</a></h3>
                            <p class="dolor">$1870 <span>/ Per Person</span></p>
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>3 Days</li>
                                <li><i class="fas fa-map-marker-alt"></i>Los Angeles</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <a href="#">
                            <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>8.0 Cool</span> </span>
                            <h3><a href="#">The Dark Forest Adventure</a></h3>
                            <p class="dolor">$1870 <span>/ Per Person</span></p>
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>3 Days</li>
                                <li><i class="fas fa-map-marker-alt"></i>Los Angeles</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination Controls -->
<div class="row justify-content-center mt-3 section-pagination">
    <div class="pagination-controls">
        <div aria-label="Page navigation">
            <ul class="pagination">

                <!-- First Page -->
                <li class="page-item disabled">
                    <a class="page-link long-text" href="#">First</a>
                </li>

                <!-- Previous Page -->
                <li class="page-item disabled">
                    <a class="page-link long-text" href="#">Previous</a>
                </li>

                <!-- Page Numbers -->
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item disabled"><span class="page-link">...</span></li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>

                <!-- Next Page -->
                <li class="page-item">
                    <a class="page-link long-text" href="#">Next</a>
                </li>

                <!-- Last Page -->
                <li class="page-item">
                    <a class="page-link long-text" href="#">Last</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="video-area video-bg pt-200 pb-200">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="video-caption text-center">
                    <div class="video-icon">
                        <a class="popup-video" href="#" tabindex="0"><i class="fas fa-play"></i></a>
                    </div>
                    <p class="pera1">Love where you're going in the perfect time</p>
                    <p class="pera2">GoAdventure is a World Leading Online</p>
                    <p class="pera3">Tour Booking Platform</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/dropdownButton.js"></script>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>