<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/contact-us.css">

</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="hero-area">
    <section class="slider-section">
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div th:each="adventure, iterStat : ${initialFourAdventures}"
                         class="carousel-item" th:classappend="${iterStat.index == 0} ? ' active'">
                        <div class="slider-container">
                            <div class="box">
                                <div class="detail-box">
                                    <h1>GoAdventure</h1>
                                    <h2 th:text="${adventure.name}">Adventure Name</h2>
                                </div>
                                <div class="img-box">
                                    <div class="play-btn">
                                        <a href="">
                                            <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1726437192/play_spudhs.png"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-box">
                                <a th:href="${#authorization.expression('isAuthenticated()') ? '/adventures/' + adventure.id : '/login-register'}">
                                    Discover More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-carousel-control">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
</div>

<section class="trip-section layout-padding" id="bookTrip">
    <div class="container">
        <div class="heading-container">
            <h2>
                Contact Us
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="box container-bg">
            <div class="img-box">
                <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1726437388/airplane_drjlv7.png" alt="">
            </div>
            <div class="form-container">
                <form>
                    <div class="form-group">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa-regular fa-user"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa-regular fa-envelope"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa-solid fa-thumbtack"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text message">
                                    <i class="fa-regular fa-message"></i>
                                </div>
                            </div>
                            <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="blog-section" id="blog">
    <div class="container">
        <div class="heading-container">
            <h2>
                Our Blog
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="box container-bg">
            <div class="blog-box">
                <div class="date-box">
                    <h4 th:text="'$' + (${initialFourAdventures.get(0).price} % 1 == 0 ? ${#numbers.formatDecimal(initialFourAdventures.get(0).price, 0, 0)} : ${#numbers.formatDecimal(initialFourAdventures.get(0).price, 0, 2)})">
                        Price
                    </h4>
                </div>
                <div class="detail-box">
                    <div class="img-box">
                        <img th:src="${initialFourAdventures.get(0).photoUrls.get(0)}"
                             alt="">
                    </div>
                    <div class="text-box">
                        <h5 th:text="${initialFourAdventures.get(0).name}">
                            Adventure Title
                        </h5>
                        <h6 th:text="${initialFourAdventures.get(0).description}">Duration</h6>
                    </div>
                </div>
                <a th:href="${#authorization.expression('isAuthenticated()') ? '/adventures/' + initialFourAdventures.get(0).id : '/login-register'}">
                    Book Now
                </a>
            </div>
            <div class="blog-box-cover">
                <div class="blog-box">
                    <div class="date-box">
                        <h4 th:text="'$' + (${initialFourAdventures.get(1).price} % 1 == 0 ? ${#numbers.formatDecimal(initialFourAdventures.get(1).price, 0, 0)} : ${#numbers.formatDecimal(initialFourAdventures.get(1).price, 0, 2)})">
                            Price
                        </h4>
                    </div>
                    <div class="detail-box">
                        <div class="img-box">
                            <img th:src="${initialFourAdventures.get(1).photoUrls.get(0)}"
                                 alt="">
                        </div>
                        <div class="text-box">
                            <h5 th:text="${initialFourAdventures.get(1).name}">
                                Adventure Title
                            </h5>
                            <h6 th:text="${initialFourAdventures.get(1).description}">Duration</h6>
                        </div>
                    </div>
                    <a th:href="${#authorization.expression('isAuthenticated()') ? '/adventures/' + initialFourAdventures.get(1).id : '/login-register'}">
                        Book Now
                    </a>
                </div>
                <div class="blog-box">
                    <div class="date-box">
                        <h4 th:text="'$' + (${initialFourAdventures.get(2).price} % 1 == 0 ? ${#numbers.formatDecimal(initialFourAdventures.get(2).price, 0, 0)} : ${#numbers.formatDecimal(initialFourAdventures.get(2).price, 0, 2)})">
                            Price
                        </h4>
                    </div>
                    <div class="detail-box">
                        <div class="img-box">
                            <img th:src="${initialFourAdventures.get(2).photoUrls.get(0)}"
                                 alt="">
                        </div>
                        <div class="text-box">
                            <h5 th:text="${initialFourAdventures.get(2).name}">
                                Adventure Title
                            </h5>
                            <h6 th:text="${initialFourAdventures.get(2).description}">Duration</h6>
                        </div>
                    </div>
                    <a th:href="${#authorization.expression('isAuthenticated()') ? '/adventures/' + initialFourAdventures.get(2).id : '/login-register'}">
                        Book Now
                    </a>
                </div>
            </div>
            <div class="blog-box">
                <div class="date-box">
                    <h4 th:text="'$' + (${initialFourAdventures.get(3).price} % 1 == 0 ? ${#numbers.formatDecimal(initialFourAdventures.get(3).price, 0, 0)} : ${#numbers.formatDecimal(initialFourAdventures.get(3).price, 0, 2)})">
                        Price
                    </h4>
                </div>
                <div class="detail-box">
                    <div class="img-box">
                        <img th:src="${initialFourAdventures.get(3).photoUrls.get(0)}"
                             alt="">
                    </div>
                    <div class="text-box">
                        <h5 th:text="${initialFourAdventures.get(3).name}">
                            Adventure Title
                        </h5>
                        <h6 th:text="${initialFourAdventures.get(3).description}">Duration</h6>
                    </div>
                </div>
                <a th:href="${#authorization.expression('isAuthenticated()') ? '/adventures/' + initialFourAdventures.get(3).id : '/login-register'}">
                    Book Now
                </a>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>