<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
<div id="container">
    <p id="text">Page Not Found</p>
    <p id="shadow">
        <span id="glow">40</span><span id="blink">4 E</span><span id="glow">RR</span><span id="blink">OR</span>
    </p>
    <a href="javascript:history.back()" class="neon-button">Go Back</a>
</div>
</body>
</html>