<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container-destination">
    <div class="destination-container">
        <div class="socials">
            <a href="#" class="social-item" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="social-item"  target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="social-item"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="social-item"  target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="text-destination">
            <h1>EXPLORE<br />DREAM<br /><span>DESTINATION</span></h1>
            <p>
                It encourages exploration of unfamiliar territories, embracing
                diverse cultures and landscapes, while pursuing the desired
                destination that captivates the heart and ignites a sense of wonder.
            </p>
            <a href="#" class="btn">BOOK NOW</a>
        </div>
        <div class="destination-grid">
            <!-- Only 3 cards -->
            <div class="destination-card">
                <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                     alt="destination" />
                <div class="card-content">
                    <h4>10 Must-Visit Hidden Gems</h4>
                    <p>
                        Discover off-the-beaten-path locations and hidden gems within
                        dream destinations, taking you beyond the typical tourist spots.
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="destination-card">
                <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                     alt="destination" />
                <div class="card-content">
                    <h4>Immersive Cultural Experiences</h4>
                    <p>
                        Dive deep into the vibrant cultures of dream destinations,
                        showcasing the rituals, traditions, and local customs that make
                        these places truly
                        unique.
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="destination-card">
                <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                     alt="destination" />
                <div class="card-content">
                    <h4>From Dreams to Reality</h4>
                    <p>
                        Explore expert tips, and hidden gems, ensuring every moment of
                        your trip is optimized, and make the most of time in your
                        long-awaited dream location.
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="discover" id="discover">
    <div class="section-container discover-container">
        <h2 class="section-header">Discover the most engaging places</h2>
        <p class="section-subheader">
            Let's see the world with us with you and your family
        </p>
        <div class="discover-grid">
            <div class="discover-card">
                <div class="discover-image">
                    <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                         alt="discover" />
                </div>
                <div class="discover-card-content">
                    <h4>Norway</h4>
                    <p>
                        Discover the untamed beauty of Norway, a land where rugged
                        mountains, and enchanting northern lights paint a surreal
                        backdrop.
                    </p>
                    <a href="#" class="discover-btn">
                        Discover More <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </div>
            </div>
            <div class="discover-card">
                <div class="discover-image">
                    <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                         alt="discover" />
                </div>
                <div class="discover-card-content">
                    <h4>London</h4>
                    <p>
                        From urban rock climbing to twilight cycling through royal
                        parks, London beckons adventure enthusiasts to embrace
                        opportunities.
                    </p>
                    <a href="#" class="discover-btn">
                        Discover More <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </div>
            </div>
            <div class="discover-card">
                <div class="discover-image">
                    <img src="https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg"
                         alt="discover" />
                </div>
                <div class="discover-card-content">
                    <h4>Japan</h4>
                    <p>
                        From scaling the iconic peaks of Mount Fuji to immersing in the
                        serenity, Japan offers adventurers a captivating cultural
                        treasures.
                    </p>
                    <a href="#" class="discover-btn">
                        Discover More <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section img select-destination">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center animate">
                <span class="subheading">Destination</span>
                <h2 class="mb-4">Select Your Destination</h2>
            </div>
        </div>
    </div>
    <div class="container container-2">
        <div class="row">
            <div class="col-md-12">
                <!-- 10 destinations card -->
                <div class="carousel-destination owl-carousel animate">
                    <div class="item">
                        <div class="project-destination">
                            <a href="#" class="img"
                               style="background-image: url(https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg);">
                                <div class="text">
                                    <h3>Philippines</h3>
                                    <span>150$</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a href="#" class="img"
                               style="background-image: url(https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg);">
                                <div class="text">
                                    <h3>Canada</h3>
                                    <span>400$</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a href="#" class="img"
                               style="background-image: url(https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg);">
                                <div class="text">
                                    <h3>Thailand</h3>
                                    <span>100$</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a href="#" class="img"
                               style="background-image: url(https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg);">
                                <div class="text">
                                    <h3>Autralia</h3>
                                    <span>200$</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a href="#" class="img"
                               style="background-image: url(https://res.cloudinary.com/db1rc9fon/image/upload/v1725393303/home-image_wqmwig.jpg);">
                                <div class="text">
                                    <h3>Greece</h3>
                                    <span>250$</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>