<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/services.css">

</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<section class="section">
    <div class="adventure" style="flex: 1; margin-right: 20px;">
        <div class="form">
            <h1 class="form-title">Create Your Adventure</h1>
            <form class="adventure-form" th:method="POST" th:action="@{/services/createAdventure}"
                  th:object="${adventureDTO}" enctype="multipart/form-data">
                <div class="adventure-list">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name"
                               type="text"
                               name="name"
                               th:field="*{name}"
                               placeholder="Adventure Name"/>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input id="price"
                               type="number"
                               step="0.01"
                               name="price"
                               th:field="*{price}"
                               placeholder="Adventure Price"/>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('price')}"
                             th:errors="*{price}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="locationName">Location name</label>
                        <input id="locationName"
                               type="text"
                               name="locationName"
                               th:field="*{locationName}"
                               placeholder="Location name"/>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('locationName')}"
                             th:errors="*{locationName}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="locationCoordinates">Coordinates</label>
                        <input id="locationCoordinates"
                               type="text"
                               name="locationCoordinates"
                               th:field="*{locationCoordinates}"
                               placeholder="Enter coordinates /latitude, longitude/"/>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('locationCoordinates')}"
                             th:errors="*{locationCoordinates}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select id="type"
                                name="type"
                                th:field="*{type}">
                            <option value="" selected>- Select type -</option>
                            <option th:each="type : ${types}"
                                    th:value="${type.name()}"
                                    th:text="${type.getName()}">
                            </option>
                        </select>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('type')}"
                             th:errors="*{type}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration (hours)</label>
                        <input id="duration"
                               type="number"
                               name="duration"
                               th:field="*{duration}"
                               placeholder="Adventure Duration"/>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('duration')}"
                             th:errors="*{duration}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description"
                                  name="description"
                                  th:field="*{description}"
                                  placeholder="Enter a detailed description"
                                  rows="4"
                                  cols="30"></textarea>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('description')}"
                             th:errors="*{description}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="photoUrls">Upload Image</label>
                        <div class="file-upload-wrapper">
                            <input id="photoUrls"
                                   class="file-upload"
                                   type="file"
                                   name="photoUrls"
                                   th:field="*{photoUrls}"
                                   multiple/>
                            <label for="photoUrls" class="file-upload-label">
                                <i class="fa fa-cloud-upload-alt"></i> Choose images
                            </label>
                        </div>
                        <div class="validation alert alert-danger mt-2"
                             th:if="${#fields.hasErrors('photoUrls')}"
                             th:errors="*{photoUrls}">
                        </div>
                    </div>
                    <div class="scroll-indicator-1"><i class="fa-solid fa-arrow-down-long"
                                                       style="color: #63E6BE;"></i>
                    </div>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>

    <div class="adventure">
        <div class="booking">
            <h1 class="form-title">Approve Booking Requests</h1>
            <div class="user-list">
                <th:block th:each="booking : ${pendingBookings}">
                    <div class="user">
                        <p><strong>Username:</strong> <span th:text="${booking.userUsername}">Username</span></p>
                        <p><strong>Email:</strong> <span th:text="${booking.userEmail}">Email</span></p>
                        <p><strong>Mobile:</strong> <span th:text="${booking.userPhone}">Mobile</span></p>
                        <p><strong>Adventure:</strong>
                            <a th:href="'/adventures/' + ${booking.adventureView.id}" th:text="${booking.adventureView.name}">View Adventure</a>
                        </p>

                        <div class="actions">
                            <form th:method="POST" th:action="'/services/approveBooking/' + ${booking.id}">
                                <button class="allow-btn" type="submit">Allow</button>
                            </form>
                            <form th:method="POST" th:action="'/services/rejectBooking/' + ${booking.id}">
                                <button class="reject-btn" type="submit">Reject</button>
                            </form>
                        </div>
                    </div>
                </th:block>


                <div class="scroll-indicator-2"><i class="fa-solid fa-arrow-down-long" style="color: #63E6BE;"></i>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="js/services-drag-scroll-hiding-arrow.js"></script>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>