<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/sign-up-sign-in.css">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="sign-up-sign-in">
    <div class="container" id="container" th:classappend="${hasErrors} ? 'right-panel-active' : ''">
        <div class="form-container sign-up-container">
            <form method="POST" th:action="@{/login-register/register}" th:object="${userRegisterDTO}">
                <h1>Create Account</h1>
                <input id="username"
                       type="text"
                       placeholder="Username"
                       name="username"
                       th:field="*{username}">
                <small id="usernameError"
                       class="text-info rounded"
                       th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}">Username Error
                </small>
                <input id="phone"
                       type="tel"
                       placeholder="Phone Number"
                       name="phone"
                       th:field="*{phone}">
                <small id="phoneError"
                       class="text-info rounded"
                       th:if="${#fields.hasErrors('phone')}"
                       th:errors="*{phone}">Password Error
                </small>
                <input id="email"
                       type="email"
                       placeholder="Email"
                       name="email"
                       th:field="*{email}">
                <small id="emailError"
                       class="text-info rounded"
                       th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}">Email Error
                </small>
                <input id="password"
                       type="password"
                       placeholder="Password"
                       name="password"
                       th:field="*{password}">
                <small id="passwordError"
                       class="text-info rounded"
                       th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">Password Error
                </small>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="POST" th:action="@{/login-register}">
                <h1>Sign In</h1>
                <input id="loginEmail"
                       type="email"
                       placeholder="Email"
                       name="loginEmail">>
                <input id="loginPassword"
                       type="password"
                       placeholder="Password"
                       name="loginPassword">
                <button>Sign In</button>
                <div class="alert alert-danger fade show mt-4" role="alert"
                     th:if="${bad_credentials}">
                    <strong>Oops!</strong> <span>Login failed. Please check your email and password.</span>
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend</h1>
                    <p>Enter your personal details and start your adventure with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sign-up-sign-in.js"></script>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>